*{   box-sizing: border-box;    
     margin: 0;     
     padding: 0; 
    }

.articulo{

    text-align: center;
    display: flex;
    align-content: center;

}

h1 {
    color: rgb(255, 255, 255);
    font-size: 4em;
    text-align: center;
    position: absolute;
    right: 20%;
    top: 15%;

    
}
.contenido{
    position: absolute;  
    top: 50%;   
    width: 100%;   
    text-align: center;   
    font-size: 25px; 
    display: flex;
    

}

.seccion{
    align-items:center;
    justify-content:center;
    align-content:center;
    
}
    .perfil {
        background: rgb(63,94,251);
        background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
        padding: 10px;
        margin: 10px;
    }

    .tituloperfil{
        background: rgb(2,0,36);
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(6,6,240,1) 35%, rgba(0,212,255,1) 100%);
        padding: 10px;
        margin: 10px;
        display:flex;
        flex-flow: column;
        text-align: center;
        color: white;
    }
    .acercademi{
        background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
        padding: 10px;
        margin: 10px;
        display:flex;
        flex-flow: column;
        text-align: left;
        
    }
h2 {
    color: white;
    font-size: 3,5em;
    
    
}
body {
    background-image: url(https://img.freepik.com/foto-gratis/textura-pared-estuco-azul-marino-relieve-decorativo-abstracto-grunge-fondo-color-rugoso-gran-angular_1258-28311.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: black ;
    font-family: 'Archivo Black', sans-serif;
    font-family: 'Climate Crisis', cursive;
    font-family: 'Rampart One', cursive;
    display: flex;
    align-items: stretch;
}


.contenido2 {
    align-items: center;
    justify-content: center;
    display:flex;
    color: rgb(0, 0, 0);
    font-size: 2,5em;
    text-align: left;
}

    p{
        color: rgb(0, 0, 0);
        font-size: 1.5em;
    }